h1 {
    text-align: center;
}

.search {
    margin: 30px 0;
}

input[type=number], input[type=text]{
    width: 250px;
}

input[type=checkbox], input[type=radio]{
    margin: 0 20px;
}

.left, .right {
    margin: auto;
}

.center {
    margin-top: 10px;
}

table, .pagin-btn {
    text-align: center;
}

thead {
    background-color: #f0c300;
}

.filters {
    padding-left: 30%;
}

.addForm {
    padding-left: 10%;
}